---
import '../styles/global.css'
import NavBar from '../components/Navbar.astro'
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
</head>
<body>
    <NavBar />
    <h1>About Me</h1>
</body>
</html>